/*Main Section*/

*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: 'Work Sans', sans-serif;
}


.produto{
	display: flex;
	margin:0 auto;
	grid-gap: 20px;
	max-width: 1366px;
	margin: 0 20px;
}

.principal{
	flex: 65%;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex-direction: column;
}


.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
}
    
.breadcrumb li::before {
    content: "•";
    font-weight: 300;
    padding: 10px;
}
    
.breadcrumb li:first-child::before {
    content: " ";
    padding-left: 0;
}

.breadcrumb li:last-child{
	font-weight: 400;
}

.imagens-miniaturas{
	display: flex;
	max-width: 500px;
}

.imagem-principal{
	display: flex;
	flex-wrap: wrap;
	height: 550px;
	width: 550px;
}

.imagem-produto{
	height: 180px;
	width: 180px;
}

h2{
	font-size: 18px;
	padding-bottom: 5px;
}

.principal div>div{
	display: flex;
	flex-wrap: wrap;

}

.descricao{
	flex: 100%;
	border-bottom-style: solid;
	border-bottom-color: #d27469;
}

.texto-descricao{
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 20px;
}

aside{
	flex: 35%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	background-color: #f0f0f0;
	flex-direction: column;
}

a{
	text-decoration-line: none;
}

a:visited{
	color: black;
}

a:hover{
	color: #d27469;
}


.info-lateral{
	display: grid;
	flex-wrap: wrap;
	margin: 10px;
	grid-gap: 10px;
}

aside h1{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
	margin: 10px;
	text-align: left;
	color: #122330;
}

.top-info{
	display: grid;
	flex-wrap: wrap;
	grid-gap: 10px;
	padding-bottom: 10px;
	border: thin grey;
}

.top-info>div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.top-info> p:first-child, .preco-parcela{
	font-size: 15px;
	font-weight: bold;
}

.total-avaliacao{
	font-size: 12px;
	color: #606060;
	margin-left: 6px;
}

.preco{
	font-size: 25px;
	font-weight: bold;
	color: #d27469;
}

#comprar{
	border-style: none;
	background-color: #d27469;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 100%;
	font-weight: bold;
}

#comprar:hover{
	background-color: #c97b75;
}


/*COMENTARIOS*/

.texto-coment{
	text-align: justify;
	font-size: 15px;
}

.comentarios{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 10px;
	background-color: #f0f0f0;
	padding: 10px;

}

.coment-titulo{
	flex-basis: 100%;
	border-bottom-style: solid;
	border-bottom-color: #d27469;
}

h3{
	font-size: 16px;
	margin-right: 5px;

}

.aval-total>div{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}


.aval-total, .aval-titulo{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-basis: 100%;
	padding-bottom: 10px;
}


.avaliacoes{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;

}

.aval-total>h4, .data{
	font-size: 12px;
	color: #606060;
	font-weight: 400;
}

.botao-coment{
	border-style: none;
	background-color: #d27469;
	text-align: center;
	padding: 10px;
	width: 310px;
	font-weight: bold;
	margin: 0 auto;
}

.botao-coment:hover{
	background-color: #c97b75;
}

.coment-geral{
	display: grid;
	background-color: #f0f0f0;
	margin-bottom: 50px;
}

.opiniao{
	border-bottom-style: solid;
	border-bottom-color: #d27469;
	flex: 100%;
}

.formulario{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 10px 0;
}

.op-enviar{
	display:flex;
	align-items: flex-start;
	margin: 10px 0;
	flex-basis: 100%;
}

.op-enviar .esquerda{
	flex: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;

}

.op-enviar .direita{
	flex: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
}

.op-estrelas{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.op-estrelas>p:first-child{
	font-size: 12px;
	font-weight: 400;
	padding-right: 5px;

}
.op-estrelas>p:last-child{
	font-size: 14px;
	color: #606060;
}

.op-enviar>div>input{
	width: 90%;
	height: 20px;
	padding: 10px;
	border-color: darkgrey;
	border-width: 0.5px;	
	margin-bottom: 10px;
}


.op-enviar>div>textarea{
	width: 93.7%;
	height: 52px;
	padding: 10px;
	border-color: darkgrey;
	border-width: 0.5px;	
	margin-bottom: 10px;
}

.botao-enviar{
	border-style: none;
	background-color: #d27469;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	width: 100%;
}

.botao-enviar:hover{
	background-color: #c97b75;
}



/*produtos*/

.produtos ul{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	flex: 1 1 200px;
}

.produtos ul li{
	flex: 20%;
	text-align: center;
	align-items: start;
	margin-bottom: 30px;
}

.produtos{
	margin-bottom: 60px;
}

.produtos ul li div img{
	width: 200px;
	height: 200px;
}

.produtos h1{
	max-width: 1366px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-family: 'Philosopher', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: #122330;
}

.hover-comprar{
	position: relative;
	margin-bottom: 10px;
	flex-basis: 100%;
}

}
.imagem {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
}

.botao-comprar {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 200px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.hover-comprar:hover .imagem {
  opacity: 0.3;
}

.hover-comprar:hover .botao-comprar {
  opacity: 1;
}

.botao-comprar button:hover{
	background-color: #c97b75;
	color: #122330;
}

.hover-comprar button {
  flex-basis: 100%;
  background-color: #d27469;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border:none;
}

.hover-comprar .botao-comprar{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.hover-comprar .botao-comprar button{
	flex-basis: 100%;
	justify-content: center;
}

.produtos-texto div,h4,p,h5{
	padding-bottom: 5px;
}

.estrelas{
	display: flex;
	justify-content: center;
}

.estrelas span{
	font-size: 14px;
	padding: 0 1px;
	color: ;
}

h4{
	font-weight: 600;
	font-size: 14px;
}

.produtos-texto p{
	font-weight: 400;
	font-size: 13px;
}

h5{
	font-size: 20px;
	font-weight: 700;
	color: #d27469;
}

.veja-mais {
	text-align: right;
	margin-right: 20px;
	font-weight: 500;
	color: #122330;
}